.faixa {
    background-color: var(--branco);
}

.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1.5rem 1rem;
}

.topicos__titulo {
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: var(--branco);
    font-weight: 300;
}

.topicos__lista {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.topicos__lista__item {
    margin: 2rem 0.5rem;
}

.topicos__lista__item__link {
    text-decoration: none;
    color: var(--branco);
    font-size: var(--fonte-size-secundaria);
    font-weight: 700;
    background-color: var(--titulo-laranja);
    padding: 1rem 1.3rem;
}

@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: var(--fonte-size-titulo-topicos-contato);
        padding-top: 1rem;
    }

    .topicos__lista__item__link {
        font-size: var(--fonte-size-titulo-topicos-contato);
    }
}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 4em 25vw 4.6em 25vw;
    }    

    .topicos__titulo {
        font-size: var(--fonte-size-titulo-banner);
        font-weight: 300;
    }
}